@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* -------------------------
   Root Theme Variables
-------------------------- */
:root {
  /* Base Colors */
  --primary: #070d1a;
  --secondary: #00adb5;
  --light: #a0a2a6;
  --dark: #111623;
  --background: #ffffff;
  --foreground: #171717;
}

/* -------------------------
   Tailwind Inline Theme
-------------------------- */
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-ar: var(--font-almarai);
  --font-en: var(--font-spaceGrotesk);

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  --animate-shimmer: shimmer 2s linear infinite;
}

/* -------------------------
   Global Styles
-------------------------- */
*{
  outline: none;
}

body {
  background-color: var(--color-primary);
  color: var(--color-background);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, var(--secondary), color-mix(in oklab, var(--secondary) 60%, transparent));
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px color-mix(in oklab, var(--secondary) 60%, transparent);
}

[dir="rtl"] {
  font-family: var(--font-ar);
}

[dir="ltr"] {
  font-family: var(--font-en);
}

